This release consist of [these issues]({{{targetMilestoneHtmlUrl}}}) that were achieved through [these commits]({{{commitsLink}}}).
{{{targetMilestone.Description}}}

{{{__allText}}}## Where to get it
You can download this release from:
- Our [website](http://particular.net/downloads)
- Or [nuget](https://www.nuget.org/profiles/nservicebus/)